<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <hr>
    <form action="/updatedata" method="POST">
        Email ID For Confirmation : <br>
        <input type="text" name="Email" id="email"><br>
        Your New Name :<br>
        <input type="text" name="Name" id="name"><br><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>